/*BANNER*/
.banner {
    height: 100vh;
    color: #fff;
    position: relative;
    background-image : url("../img/banner.png");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0,0,0,0,0.3);
}

.banner:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1
  top: 0;
  left: 0;
  opacity: 0.6;
  background: -moz-linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(249,253,45,1) 100%);
  background: -webkit-linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(249,253,45,1) 100%);
  background: linear-gradient(0deg, rgba(34,193,195,1) 20%, rgba(249,253,45,1) 100%);
 }


.banner-title {
  padding-top: 150px;
  margin-bottom: 20px;
  font-size: 60px;

}
.banner-white {
 color : #fff;
}

.banner p{
  margin: 60px;
  font-size: 30px;
  line-height: 30px;

}

.banner .table {
  position: relative;
  z-index: 2

}
