/*beber*/

.back-beber {
  background-image: url("../img/michael.png");
  background-position: center;
  background-repeat: no-repeat;
  margin-top: 95px;
}

@media (max-width: 970px) {
  .back-beber {
    background-image: url("../img/michael.png");
    background-repeat: no-repeat;
    background-size: 80px;
  }
