/*BUTTON*/

.button {
  display: inline-block;
  padding: 15px;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
 text-transform: uppercase;

}

.button-white{
  color: #0678A9;
  background: #fff;

}
