/*Diversao*/

.back-diversao {
  background-image: url("../img/towelie.png");
  background-position: center;
  background-repeat: no-repeat;
  background-size: 750px;
  margin-top: 100px;
}

.title h2 {
  text-align: center;
  padding: 5px;
  font-size: 30px;
  margin-bottom: 30px;
}


@media (max-width: 970px) {
  .back-beber-diversao {
    background-image: url("../img/Caitlyn.png");
    background-repeat: no-repeat;
    background-size: 80px;
  }
