/*FOOTER*/

.footer-bottom {
  padding: 10px;
  background: #efefef;
  text-align: center;
}

.footer-img {
  width: 100px;
}
.footer-bottom  p {
  margin: 0;
}

.footer-nav {
  margin-bottom: 25px;
}
.footer-nav li {
  display: inline-block;
}

.footer-nav a {
  display:inline-block;
  padding: 5px 10px;
  color: #222;


}
