/* HEADER */
.header-top {
  width: 100%;
  padding: 15px 0;
  background: #FFF;
  box-shadow: 0 6px 12px rgba(0,0,0,0.3);
  position: fixed;
  top: 0;
  left: 0;
  z-index: 100
}


.header-title img {
  height : 100px;
  margin: 0;
  padding: 0;
  float: left;
  background-color: #fff;

}
.header-menu {
    float: right;
    padding-top: 30px;
}

.header-menu li{
  display: inline-block;
}

.header-menu a {
  display:inline-block;
  padding: 10px;
  color: #0678A9;
}

@media (max-width: 970px) {
  .header-title img {
    float: left;
  }

  .header-menu {
    margin: 15px -15px 0;
    text-align: left;
    float: none;
  }

  .header-menu li {
    width: 10%;
    float: left;
  }

  .header-menu a {
    padding: 8px;
    font-size: 12px;
  }
}
