.banner-his {
    height: 100vh;
    color: #fff;
    position: relative;
    background-image : url("../img/mapa.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0,0,0,0,0.3);
}
.banner-title-his {
  font-size: 60px;

  margin-bottom: 100px;

  margin-bottom: 80px;
>>>>>>> ef9e1f5787de176eb3ca9a904e8b246abd1e5561
  color: #F5F90C;
}

.center-text {
  background-color: #fff;
  margin: 0;
  padding: 0;
  color: #000;
}



.container-his {
  width: 1220px;
  padding: 0 15px;
  margin : 0 auto;
  box-sizing: border-box;

}

.img-cartman {
  width: 500px;
}
