/*restaurants*/
.back{
background-image: url("../img/city-wok-guy.png");
background-position: center;
background-repeat: no-repeat;
background-size: 750px;
margin-top: 100px;
}

.box {
  padding: 15px;
  margin: 15px;

}

.box img {
  float: left;
  width: 400px;
  padding: 5px;
}

.box h3 {
  text-align: center;

}
.box-right img {
  float: right;
  width: 400px;
  padding: 5px;
}

@media (max-width: 970px) {
  .back {
    background-image: url("../img/city-wok-guy.png");
    background-repeat: no-repeat;
    background-size: 80px;
  }
