/*BANNER*/
.banner {
    height: 100vh;
    color: #fff;
    position: relative;
    background-image: url("../img/beach-background.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    text-shadow: 0 0 30px rgba(0,0,0,0,0.2);
}

.banner:before {
  content: '';
  display: block;
  width: 100%;
  height: 100%;
  position: absolute;
  z-index: 1
  top: 0;
  left: 0;
  opacity: 0.8;
  background: -moz-linear-gradient(-45deg, #0678a9 0%, #ffb700 100%); /* FF3.6-15 */
  background: -webkit-linear-gradient(-45deg, #0678a9 0%,#ffb700 100%); /* Chrome10-25,Safari5.1-6 */
  background: linear-gradient(135deg, #0678a9 0%,#ffb700 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */}

.banner-title {
  padding-top: 40px;
  font-size: 60px;

}
.banner-white {
 color : #fff;
}

.banner p{
  margin: 40px;
  font-size: 18px;
  line-height: 22px;

}

.banner .table {
  position: relative;
  z-index: 2

}

@media (max-width :610px) {
  .banner .table-cell {
    padding-left: 15px;
    padding-right: 15px;

  }
  .banner br{
    display: none;
  }
  .banner-title {
    font-size: 60px;
  }
}
