/*BUTTON*/

.button {
  display: inline-block;
  padding: 15px;
  border: none;
  font-size: 18px;
  line-height: 18px;
  border-radius: 12px;
  text-transform: uppercase;
  transition: background 0.3s ease-in-out 0s;
  cursor:pointer;
}
.button-blue{
  color: #0678A9;
  background: #fff;

}


.button-yellow{
  color: #fff;
  background: #FFB700;

}

.button-yellow:hover{
  background: #0678A9;
}

.button-blue:hover{
  background: #FFB700;
}
