.form {
  width: 60%;
  padding: 2px;
  margin: 10px;
  text-align: left;
}

.button-form {
    display: inline-block;
    padding: 5px;
    font-size: 16px;
    line-height: 18px;
    border-radius: 15px;
    text-transform:capitalize;
    position: relative;
    border: none;
    width: 80px;
    color: #FFF;
    background: #23345E;
    transition: background 0.3s ease-in-out 0s;
    cursor:pointer;
  }
.button-form:hover {
  background: #FFB700
  }
  .contato img {
    width: 200px;
    margin: 0;
  }

  .contato-cab {
    margin-top: 100px;
  }

  textarea.form {
    height: 100px;
    resize: none;
  }

  .form:focus {
    border-color: #0678A9;

  }
