.historia-box {
  padding: 10px;
  margin: 15px;
  margin-bottom: 35px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);

}

.historia-box img {
  float: left;
  width: 100px;
  padding: 10px;
  margin: 0 15px 15px 0;
}

.historia-box-right {
  padding: 10px;
  margin: 15px;
  margin-bottom: 35px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
  text-align: right;
}

.historia-box-right img {
  float: right;
  width: 100px;
  padding: 10px;
}
