/*PRODUTOS*/
.button-buy{
  color: #FFF;
  background: #797575;
}

.box {
box-shadow: 0 0 12px rgba(0,0,0,0.2);
padding: 10px;
width: 45%;
margin: 15px;
display: block;
text-align: center;
}
.box img {
  width: 100px;
  margin-bottom: 15px;

}
.title {
  font-size: 50px;
  text-align: center;
}
