/*SERVICOS*/
.service-item {
  padding: 15px;
  margin-bottom: 15px;
  box-shadow: 0 0 12px rgba(0,0,0,0.2);
}

.servicos h3 {
  font-size: 22px;
}

.servicos img {
  float : left;
  width: 180px;
  margin: 0 15px 15px 0;
}
