/*CONTENT*/
.content {
  padding-top: 60px;
  padding-bottom: 60px;
}

.col {
  padding: 0 15px;
  float: left;
  box-sizing: border-box;

}

.col-half {
  width: 48%;
}

.clearfix:after {
  content: "";
  display: table;
  clear: both;
}
.container {
width: 980px;
padding: 0 15px;
margin : 0 auto;
box-sizing: border-box;

}