.dados-pok {
    margin: 0;
    font-size: 14px;
    
}

.dados-pok h2 {
    margin: 0;
    padding: 0;

}

.float-left {
    background-color: white;
    padding: 0px;
    
}

.font-size {
    font-size: 16px;
    font-weight: bold;
    margin: 0;
}

.img-poke {
    width: 250px;
    margin-right: 0;
    position: static;
    padding: 0;
    
}


.dados {
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    padding: 0;
    margin: 0;
    list-style: none;
  }

  .text {
    border:1px solid rgb(223, 154, 50);
    width:300px;
    outline: none;
    background: #c9e6f7; 
    border-radius:4px;
  }

  .buttom {
     background: rgb(223, 154, 50);
     text-decoration: none;
     text-align:center;
     font-family: Pokemon Solid;
     margin: 0;
     padding: 5px;
     box-shadow: none;
}
