.header-top {
    width: 100%;
    background: #FFF;
    box-shadow: 0 6px 12px rgba(0,0,0,0.3);
   
  
  }
  
  .header-top-logo {
      width: 400px;
      position: center;
  }


  .gif {
    width: 100px;
    position: center;
  }

  .gif2 {
    width: 90px;
    position: center;
    
  }