.lado-esquerdo-total{
    background-color: #CC1414;
    width: 400px;
    height: 500px;
    border-radius: 15px;
    border-color: black;
    border: solid;
    top: 40%;
    left: 20%;
    margin-left: 212px;
    
}
.lado-esquerdo-cima{
    background-color: #CC1414;
    width: 250px;
    height: 95px;
    border-bottom:  solid;
    border-color: black;
    border-radius: 15px;
    border-top-right-radius: 50px; 
    border-bottom-right-radius:450% ;
    box-shadow: 0px 9px #5e0000;
    
}
.lado-esquerdo-cima-direito{
    background-color: #CC1414;
    width: 150px;
    height: 95px;
    border-bottom:  solid;
    border-color: black;
    border-radius: 15px;
    border-top-right-radius: 20px; 
    border-bottom-right-radius:10% ;
    box-shadow: -9px 5px  #5e0000;
    top: 45%;
    left: 20%;
    margin-left: 200px;
}
.circulo {
    background-color: #CC1414;
    border-radius: 300%;
    width: 180px;
    height: 100px;
    box-shadow: -9px 5px  #5e0000;
  }
.lado-esquerdo-baixo{
    background-color: #CC1414;;
    width: 330px;
    height: 375px;
    border:  solid;
    border-color: black;
    border-radius: 15px;
    position: absolute;
    top: 25%;
    left: 25%;
    margin: -40px 0 0 -40px;
}
.lado-esquerdo-centro{
    background-color: #CC1414;;
    width: 35px;
    height: 490px;
    border:  solid;
    border-color: #5e0000;;
    border-radius: 10px;
    position: absolute;
    top: -30%;
    margin-left: 347px;
    border-radius:20% ;
    box-shadow:  3px 5px 5px #5e0000;
}
.centro-cima{
    background-color: #CC1414;
    width: 35px;
    height: 25px;
    border:  solid;
    border-color: #5e0000;
    border-radius: 10px;
    position: absolute;
    top:20%;
    margin-left: -3px;
    border-radius:30% ;
  
}
.centro-baixo{
    background-color: #CC1414;
    width: 35px;
    height: 25px;
    border:  solid;
    border-color: #5e0000;
    border-radius: 10px;
    position: absolute;
    top: 88%;
    
    margin-left: -3px;
}
.lado-direito-total{
    background-color: #CC1414;
    width: 400px;
    height: 450px;
    border-radius: 15px;
    border-color: black;
    border: solid;
    margin-top: -13%;
    margin-left: 390px;
    border-top-left-radius:15%;
}
.lado-direiro-cima-squerdo{
    background-color: #CC1414;
    width: 250px;
    height: 95px;
    border-bottom:  solid;
    border-color: black;
    border-radius: 15px;
    border-top-right-radius: 50px; 
    border-bottom-right-radius:450% ;
    box-shadow: 0px 9px #5e0000;
}
.circulo-lado-direito {
    background-color:white;
    border-radius: 300%;
    width: 168px;
    height: 80px;
    border-bottom: 5px black;
    margin-top: -30px;
    margin-left: 8px;
    box-shadow: 3px 5px  #5e0000;
    
  }
  .lado-direito-cima{
    background-color: white;
    width: 233px;
    height: 75px;
    margin-top: -53px;
    margin-left: 170px;
    border-bottom:  solid;
    border-color: black;
    border-radius: 15px;
    border-top-right-radius: 30px; 
    border-bottom-left-radius:400% ;
    box-shadow: 0px 6px #5e0000;
  } 
  .esconde {
    background-color:white;
    border-radius: 300%;
    width: 60px;
    height: 60px;
    margin-top: -100px;
    margin-left: 118px;    
  }
  .botao-lado-esquerdo-cima{
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%, rgba(91,196,234,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 0%,rgba(91,196,234,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 0%,rgba(91,196,234,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 100%;
    width: 80px;
    height: 75px;
    border:solid aliceblue;
    
    margin-top: -475px;
    margin-left: 10px;
  }
  .botao-vermelho{
    background: -moz-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 1%, rgba(207,4,4,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(255,255,255,1) 1%,rgba(207,4,4,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(255,255,255,1) 1%,rgba(207,4,4,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 100%;
    width: 15px;
    height: 15px;
    border:solid  black;
    margin-top: -70px;
    margin-left: 95px;
  }
  .botao-amarelo{
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 1%, rgba(254,191,1,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 1%,rgba(254,191,1,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(252,252,252,1) 1%,rgba(254,191,1,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border:solid  black;
    margin-top: -21px;
    margin-left: 120px;
  }
  .botao-verde{
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 0%, rgba(41,154,11,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 0%,rgba(41,154,11,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(252,252,252,1) 0%,rgba(41,154,11,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    width: 15px;
    height: 15px;
    border-radius: 100%;
    border:solid  black;
    margin-top: -20px;
    margin-left: 145px;
  }
  .tela{
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 0%, rgba(209,252,251,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 0%,rgba(209,252,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(252,252,252,1) 0%,rgba(209,252,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 12px;
    border:solid  #5e0000;
    width: 310px;
    height: 200px;
    margin-top: 20px;
    margin-left: 5px;
    text-align: center;
  }
  .tela-2{
    background: -moz-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 0%, rgba(209,252,251,1) 100%); /* FF3.6-15 */
background: -webkit-radial-gradient(center, ellipse cover, rgba(252,252,252,1) 0%,rgba(209,252,251,1) 100%); /* Chrome10-25,Safari5.1-6 */
background: radial-gradient(ellipse at center, rgba(252,252,252,1) 0%,rgba(209,252,251,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */
    border-radius: 12px;
    border:solid  #5e0000;
    width: 310px;
    height: 210px;
    margin-top: -30px;
    margin-left: 45px;
    text-align: center;
  }
  .caixa-texto{
      background-color: aquamarine;
      font-family: Arial;
      margin-left: 10px;
      margin-top: 10px;
      border-radius: 12px;
      border: solid 3px grey;
  }
 
  .dadosPoke{
    margin-top: -5px;
    margin-left: 60px;
  }
  img{
     
      height: 100px;
  }
  .botao-buscar{
      background-color: yellow;
      border-radius: 100%;
      width: 35px;
      height: 35px;
      margin-top: -35px;
      margin-left: 200px;
  }
  .botao-buscar:hover{
    background: -moz-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 0%, rgba(89,106,114,1) 100%); /* FF3.6-15 */
    background: -webkit-radial-gradient(center, ellipse cover, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* Chrome10-25,Safari5.1-6 */
    background: radial-gradient(ellipse at center, rgba(206,220,231,1) 0%,rgba(89,106,114,1) 100%); /* W3C, IE10+, FF16+, Chrome26+, Opera12+, Safari7+ */  
}
.text-pokedex{
    text-align: center;
    font-size: 60px;
    color: #5e0000;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;   
}
.divide-tela{
    width: 155px;
    height: 200px;
    margin-top: 20px;
    margin-left: 20px;
}
.text-inf{
    height: 8px;
    color: black;
    text-align: center;
    font-size: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}
.alto-falte-1{
  background: black;
  border-radius: 100%;
  width: 45px;
  height: 5px;
  margin-top: 20px;
  margin-left: 250px;
  transform: rotate(-30deg);
}
.alto-falte-2{
  background: black;
  border-radius: 100%;
  width: 45px;
  height: 5px;
  margin-top: 7px;
  margin-left: 255px;
  transform: rotate(-30deg);
}
.alto-falte-3{
  background: black;
  border-radius: 100%;
  width: 45px;
  height: 5px;
  margin-top: 7px;
  margin-left: 260px;
  transform: rotate(-30deg);
}
.botao-sorte{
  background-color: green;
      border-radius: 100%;
      width: 45px;
      height: 35px;
      margin-top: -35px;
      margin-left: 250px;
      text-transform: uppercase;
      font-family: 'Trebuchet MS', 'Lucida Sans Unicode', 'Lucida Grande', 'Lucida Sans', Arial, sans-serif;
      color: white;
}